.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
webpack.config.js
!node_modules/tree-sitter/
!node_modules/tree-sitter-c-sharp/
!node_modules/tree-sitter-java/
!node_modules/tree-sitter-javascript/
!node_modules/tree-sitter-python/